

## data science libraries 
pandas
sklearn
numpy 
keras

## specific package version 
tensorflow==1.11.0 

## cloud-specific libraries 
google-cloud 
google-cloud-storage
google-cloud-pubsub
google-cloud-bigquery
pandas-gbq
